{% extends 'myblog/base.html' %}
{% load static %}
{% block msg %}
    {% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endblock msg %}
{% block content %}
<div class="col-sm-10">
<h3 class="test-white my-5">Add Post</h3>
<form action="" method="POST">
    {% csrf_token %}
{{form.as_p}}
<input type="submit" class="btn btn-success" value="Add">
<a href="{% url 'dashboard' %}" class="btn btn-danger" >
    cancel
</a>
</form>
</div>
{% endblock %}