<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'myblog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'myblog/css/style.css' %}">
</head>
<body>
    <div class="container-fluid bg dark">
        {% include 'myblog/navbar.html' %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% block msg %}
                {% endblock msg %}

            </div>
        </div>
        <div class="row">
            {% block side %}
            {% endblock side %}
            
            
            {% block content %}
            {% endblock content %}
        </div>

    </div>
    
    
   



<script src="{% static 'myblog/js/jquery.js' %}"></script>
<script src="{% static 'myblog/js/popper.js' %}"></script>
<script src="{% static 'myblog/js/bootstrap.js' %}"> </script>
    
</body>
</html>