{% extends 'myblog/base.html' %}
{% load static %}


    {% block msg %}
    <p>{{id}}</p><hr>
    {% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endblock msg %}
    {% block side %}
    <div class="col-sm-2 text-white my-5 text-center">
        <h4 class="my-5">Profile</h4>
        <h5>{{full_name}}</h5>
        {% for group in groups %}
        <p>{{group.name}}</p>
        {% endfor %}
    </div>
            {% endblock side %}
    {% block content %}
 
    <div class="col-sm-10">
        <h3 class="text-white my-5">this is dashboard page welcome {{user.username}} </h3> 
        <a href="{% url 'add_post' %}" class="btn btn-success">Add Post</a>
        <h4 class="text-center alert alert-info mt-3">show post informations </h4> 
        {% if posts %}
        <table class="table table-hover bg-white">
            <thead>
              <tr>
                <th scope="col" style="width: 2%">ID</th>
                <th scope="col"style="width: 28%">Title</th>
                <th scope="col" style="width: 56%">Description</th>
                <th scope="col" style="width: 7%">Action1</th>
                <th scope="col" style="width: 7%">Action2</th>
              </tr>
            </thead>
            <tbody>
                {% for data in posts %}
              <tr>
                <th scope="row">{{data.id}}</th>
                <td>{{data.title}}</td>
                <td>{{data.desc}}</td>
                
                <td><a href="{% url 'update_post' data.id %}" class="btn btn-warning">Edit</a></td>
                <td>
                    {% if perms.myblog.delete_post %}
                    <form action="{% url 'delete_post' data.id %}" method="POST">
                        {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                    {% endif %}
                </td>
              </tr>
              {% endfor %}
               </tbody>
          </table>
          
        {% else %}
        <h4 class="text-center alert alert-warning">no data</h4>
        {% endif %}
</div>


</div>         

{% endblock content %}