{% extends 'myblog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h1 class="text-white text-center my-5">Recent Posts....</h1>  
    {% for post in posts %}
    <div class="jumbotron jumbotron-fluid jumbo-color">
        <div class="container">
          <h1 ><b>{{post.title}}</b></h1>
          <p class="lead font-weight-bold">{{post.desc}}</p>
        </div>
      </div>
      {% endfor %}
</div>
         

{% endblock content %}