{% extends 'myblog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-9">
    <h1>this is login form</h1>
    <form action="" method="POST" novalidate>
    {% csrf_token %}
    {% for fm in form %}
    <div class="form-group">
    {{fm.label_tag}}  {{fm}}  {{fm.error|striptags}}</div>
    {% endfor %}
    <input class="btn btn-success" type="submit" value="Login">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p>{{error}}</p>
    {% endfor %}
    {% endif %}
    
    </form>
</div>   
          

{% endblock content %}