{% extends 'myblog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-9">
    <h1>Become an author</h1>
    {% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
    {% endfor %}
    {% endif %}
    <form action="" method="POST" novalidate>
    {% csrf_token %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="text-white">{{error}}</p>
        {% endfor %}
    {% endif %}
    {% for fm in form %}
    <div class="form-group">
    {{fm.label_tag}}  {{fm}}  <small class="text-warning" >{{fm.errors|striptags}}</small></div>
    {% endfor %}
    <input class="btn btn-success" type="submit" value="Submit">
   
    
    </form>
</div>         

{% endblock content %}